@model FooterModel
@using Nop.Web.Models.Common;
@{
    var addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = 55, shoppingCartTypeId = 1, quantity = 1, });
}

<div style="background-color: #fff; clear: both;padding-top:5px;">
    <div class="container">
        <div id="footer_higher_content">
            <div class="eight columns">
                <div id="deal" class="four columns alpha">
                    <h3>DEAL OF THE DAY</h3>
                    <div class="four columns product alpha" style="position: relative;">
                        <div class="product-image-wrapper">
                            <a href="/business-builder-2" class="img_border" title="">
                                <img class="scale-with-grid" style="height:135px;" alt="" src="~//content/images/thumbs/0000123_build-automator-100_125.png">
                            </a>
                            <div class="wrapper-hover-hidden" style="display: none;width:250px;">
                                <div class="product-price">
                                    <span class="price">$249.95</span>
                                </div>
                                <div class="product-name">
                                    <div class="clearfix">
                                        <a class="icon_cart_title"  style="text-decoration:none;"  title="" href="/business-builder-2">Build Automator 100</a>
                                        <div class="icon_cart_rollover">
                                            <button onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;"title=" add to cart" type="button"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="contact" class="four columns omega">
                    <h3>CONTACT INFO</h3>
                    <strong>E-mail addresses:</strong>
                    <br>
                    <p>
                    <a href="mailto:service@affillment.com"><span>service@bybbMARKETING.com</span></a><br>
                    <a href="mailto:sales@affillment.com">sales@bybbMARKETING.com</a><br>
                    <a href="mailto:billing@affillment.com">billing@bybbMARKETING.com</a><br>
                    <a href="mailto:support@affillment.com">support@bybbMARKETING.com</a><br>
                    </p>
                    <p>
                        <strong>LIVE CHAT:</strong>
                        <br>
                        Bottom left corner of each page
                    </p>
                    <p>
                        <strong>WEBSITE CONTACT</strong>
                        <br />
                        You can contact via <a href="/contactus">here</a></p>
                    <p>
                        <strong>bybb MS INFO:</strong>
                        <br>
                        The bybb MARKETING SYSTEM is the official marketing partner of be young, TH, LLC. We are a marketing systems and science that grows downlines through our BUILD AUTOMATOR app.</p>
                </div>
            </div>
            <div class="eight columns">
                <div id="twitter" class="four columns alpha">
                    <h3>TWITTER FEEDS</h3>
                    <div class="box-twitter" style="padding-top: 20px">
                        <div class=" jcarousel-skin-tango">
                            <div class="jcarousel-container jcarousel-container-vertical" style="position: relative; display: block;">
                                <div class="jcarousel-clip jcarousel-clip-vertical" style="position: relative;">
                                    <marquee scrollamount="3" direction="up" behavior="alternate">
                                        <ul id="mycarousel" class="jcarousel jcarousel-skin-tango">
                                            <li>
                                                <div class="twitter-marker">
                                                    <p>
                                                        <a target="_blank" href="https://twitter.com/BeYoungEO">
                                                            Please follow us BeYoungEO
                                                        </a>
                                                    </p>
                                                    <span>Mon Dec 06 11:32:48 +0000 2010</span>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="twitter-marker">
                                                    <p>
                                                        <a target="_blank" href="https://twitter.com/BeYoungEO">
                                                            Don't forget, we've moved! Follow us at BeYoungEO
                                                        </a>
                                                    </p>
                                                    <span>Mon Dec 06 11:32:48 +0000 2010</span>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="twitter-marker">
                                                    <p>
                                                        <a target="_blank" href="https://twitter.com/BeYoungEO">
                                                            Please follow us BeYoungEO
                                                        </a>
                                                    </p>
                                                    <span>Mon Dec 06 11:32:48 +0000 2010</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="twitter-marker">
                                                    <p>
                                                        <a target="_blank" href="https://twitter.com/BeYoungEO">
                                                            Don't forget, we've moved! Follow us at BeYoungEO
                                                        </a>
                                                    </p>
                                                    <span>Mon Dec 06 11:32:48 +0000 2010</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="twitter-marker">
                                                    <p>
                                                        <a target="_blank" href="https://twitter.com/BeYoungEO">
                                                            Please follow us BeYoungEO
                                                        </a>
                                                    </p>
                                                    <span>Mon Dec 06 11:32:48 +0000 2010</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="twitter-marker">
                                                    <p>
                                                        <a target="_blank" href="https://twitter.com/BeYoungEO">
                                                            Please follow us BeYoungEO
                                                        </a>
                                                    </p>
                                                    <span>Mon Dec 06 11:32:48 +0000 2010</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="twitter-marker">
                                                    <p>
                                                        <a target="_blank" href="https://twitter.com/BeYoungEO">
                                                            Don't forget, we've moved! Follow us at BeYoungEO
                                                        </a>
                                                    </p>
                                                    <span>Mon Dec 06 11:32:48 +0000 2010</span>
                                                </div>
                                            </li>

                                        </ul>
                                    </marquee>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="facebook" class="four columns omega">
                    <h3>FACEBOOK</h3>
                    <div class="fb-like-box" data-href="https://www.facebook.com/BeYoungTotalHealth" data-height="350" data-colorscheme="light"
                         data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="dark_color">
    <div id="footer_container_w">
        <div class="container">
            <div class="sixteen columns">
                <div id="footer_button" class="footer_button_down footer_button_up"></div>
            </div>
        </div>
    </div>
    <div id="back-top" style="display: block; bottom: 298px;">
        <a href="#top" style="opacity: 0.4;"></a>
    </div>
    <div class="container">
        <div class="footer">
            <div class="footer-menu-wrapper">
                <div class="four columns information">
                    <h3>@T("Footer.Information")</h3>
                    <ul>
                        @if (Model.SitemapEnabled)
                        {
                            <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                        }
                        <li><a href="@Url.RouteUrl("Topic", new { SystemName = "RefundPolicy" })">@T("RefundPolicy")</a></li>
                        <li><a href="@Url.RouteUrl("Topic", new { SystemName = "privacyinfo" })">@T("PrivacyNotice")</a></li>
                        <li><a href="@Url.RouteUrl("Topic", new { SystemName = "conditionsofUse" })">@T("ConditionsOfUse")</a></li>
                        <li><a href="@Url.RouteUrl("Topic", new { SystemName = "aboutus" })">@T("AboutUs")</a></li>
                        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                    </ul>
                </div>
                <div class="four columns customer-service">
                    <h3>@T("Footer.CustomerService")</h3>
                    <ul>
                        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                        @if (Model.NewsEnabled)
                        {
                            <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                        }
                        @if (Model.BlogEnabled)
                        {
                            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                        }
                        @if (Model.ForumEnabled)
                        {
                            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                        }
                        @if (Model.RecentlyViewedProductsEnabled)
                        {
                            <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                        }
                        @if (Model.CompareProductsEnabled)
                        {
                            <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                        }
                        @if (Model.RecentlyAddedProductsEnabled)
                        {
                            <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a></li>
                        }
                    </ul>
                </div>
                <div class="four columns my-account">
                    <h3>@T("Footer.MyAccount")</h3>
                    <ul>
                        <li><a href="@Url.RouteUrl("CustomerInfo")" class="account">@T("Account.MyAccount")</a></li>
                        @if (!Model.HideOrders)
                        {
                            <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                        }
                        @if (!Model.HideAddresses)
                        {
                            <li><a href="@Url.RouteUrl("CustomerAddresses")" class="">@T("Account.CustomerAddresses")</a></li>
                        }
                        @if (Model.ShoppingCartEnabled)
                        {
                            <li><a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">@T("ShoppingCart")</a></li>
                        }
                        @if (Model.WishlistEnabled)
                        {
                            <li><a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">@T("Wishlist")</a></li>
                        }
                    </ul>
                </div>
                <div class="four columns follow-us">
                    <h3>@T("Newsletter")</h3>
                   

                    @Html.Action("NewsletterBox", "Newsletter")
                    @*<div class="newsletter_footer">
                           <div class="newsletter_footer_submit">
                                <button title="Subscribe" type="submit"> </button>
                           </div>
                           <div class="newsletter_footer_input">
                                <input id="newsletter" class="input-text required-entry validate-email" type="text" value="NewsLETTER SIGNUP"  title="Sign up for our newsletter" name="email">
                           </div>
                        </div>*@
                    <div class="footer-disclaimer">
                        @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
                    </div>
                    @* <div class="footer-poweredby">
                                    Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a>
                                    @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                                        Find more info here http://www.nopcommerce.com/copyrightremoval.aspx
                        </div>*@
                    <div class="payment_services">
                        <span class="icon_footer_paypall"></span>
                        <span class="icon_footer_visa"></span>
                        <span class="icon_footer_mastercard"></span>
                        <span class="icon_footer_blue"></span>
                        <span class="icon_footer_discover"></span>
                    </div>
                </div>
            </div>
            @*<div class="footer-poweredby">
                Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>*@
            @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
            @*</div>*@
            @*<div class="footer-disclaimer">*@
            @*T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
                </div>*@
            <div class="footer-store-theme">
                @Html.Action("StoreThemeSelector", "Common")
            </div>
            @Html.Action("ChangeDeviceBlock", "Common")
            @Html.Widget("footer")
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery(function (jQuery) {
        var slide = false;
        jQuery('#footer_button').click(function () {
            jQuery('#footer_higher_content').slideToggle(500);
            jQuery('#footer_button').toggleClass('footer_button_up');

        });
    });




    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>